<html>
    <body>
        <center>
        <h1 style="color:rgb(255, 0, 149)">signup details</h1>
        <h2>thank you ..you have successfully login</h2>
        <h2>name:{{name1}}</h2>
        <h2>roll:{{roll1}}</h2>
        <h2>email:{{email1}}</h2>
        <h2>phone no:{{phone1}}</h2>
        <h2>comments</h2>
        <p>{{comments1}}</p>
       
        <h2>are u engineering student</h2>
        {%if areuengineeringstudent1%}
        <h2>student is engineer</h2>
        {%endif%}
        </center>
    </body>
</html>